
.head-isp-abou{
text-align: center;
background-image: url("../images/banner/About\ us\ banner\ -isp.jpg");
background-repeat: no-repeat;
color: #fff;

padding: 100px;
background-position: center center;
background-size: cover;
}
.head-isp-about{
    font-size: 35px;
    font-weight: 700;
}
.head-isp-para{
    font-size: 18px;
    font-weight: 100;
}
.serviceContentss {
    border-radius: 3px;
    padding: 20px;
    transition: all 0.3s;
    width: 100%;
    box-shadow: 0 0 8px rgba(112, 105, 105, 0.2);
    height: 280px;
    padding: 28px;
}
.mids-titles-isp{
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
}
.box-conin-isp-about{
    text-align: center;
    padding-top: 20px;

}
.services-about {
    padding: 70px 0px;
    font-family: sans-serif;
background-color: rgb(255, 255, 255);
}

.topbannersection1s {
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url("../images/banner/Banner\ Design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    color: #fff;
    

}

.ispservice1s {
    font-family: sans-serif;
    margin-top: 60px;
    margin-top: 0px;
}

.btns-greens {
    padding: 8px 35px;
    background-color: var(--ispsec);
    border: none;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.bannercontentoness {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 800;

}

.bors {
    outline: 1px dashed rgba(254, 254, 254, 0.3);
    outline-offset: 30px;
}
.row-isp-about{
    margin-right: 0px;
}

.con-boxse{
    padding-top: 20px;
}




/*404page*/
.fournotfour{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .four-button{
    text-align: center;
    
  }
  
  .four-text{
    text-align: center;
    padding-bottom: 20px;
  }
  