.data-pack-main{
    /* padding-top: 30px; */
    font-size: 18px;
    padding-bottom: 0px;
    font-weight: 600;
    padding-top: 20px;
    
}
.data-pack-main-con{
    font-size: 18px;
    padding-bottom: 20px;
}
